.editor-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    transition: all .75s ease-in-out;
    height: 100vh;
    flex: 1;
    position: relative;
    z-index: 50;

    &:first-child {
        border-right: 1px solid #2e393e;
    }

    &:nth-child(2) {
        border-left: 1px solid #2e393e;
        box-shadow: 7px 0px 10px -7px rgba(0, 0, 0, 0.75);
    }

    // collapse button
    &.collapsed {
        flex-grow: 0;

        .editor-code {
            display: none;
        }

        .editor-title-name {
            display: none;
        }
    }

    .editor-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #2e393e;
        padding: .75rem;
        color: #fffbf7;
        font-size: 1.1rem;

        .editor-title-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            outline: none;
            border: none;
            cursor: pointer;

            &-icon {
                font-size: 1.2rem;
                color: #fff;
                transition: all .175s ease-in-out;

                &:hover {
                    color: #c7c7c7;
                }
            }
        }
    }

    .editor-code {
        overflow: hidden;
        transition: all 1s ease-in-out;

        // codemirror classes (taken from the console)
        .CodeMirror-wrap {
            height: 100%;

            .CodeMirror-vscrollbar {
                cursor: pointer;

                &::-webkit-scrollbar {
                    width: 11.5px;

                    &-thumb {
                        background-color: #3d494f;
                        border-radius: 10px;
                    }
                }
            }

        }
    }
}