// font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

// formating styles
.link {
  text-decoration: none;
}

// Custom button (inspiration from uiverse.io)
.custom-btn1 {
  font-size: .9rem;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: #fff;
  padding: 1em 1.8em;
  background: #2d3b42;
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  cursor: pointer;
  box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.75);

  &.link-reverse .arrow-wrapper {
    transform: rotate(180deg);
  }

  .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .arrow {
      margin-top: 1px;
      width: 10px;
      background: #2d3b42;
      height: 1.80px;
      position: relative;
      transition: all 0.2s;

      &::before {
        content: "";
        box-sizing: border-box;
        position: absolute;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        display: inline-block;
        top: -3px;
        right: 3px;
        transition: 0.2s;
        padding: 3px;
        transform: rotate(-45deg);
      }
    }
  }

  &:hover {
    background-color: #1f2629;

    .arrow {
      background: #fff;

      &:before {
        right: 0;
      }
    }
  }
}